<div class="contact-card">
  <div class="contact-card-name">Dr. Helga Ingimundardóttir</div>
  <div class="contact-card-rows">
    <div class="contact-card-row"><i class="fa-solid fa-envelope"></i> <a href="mailto:helgaingim@hi.is">helgaingim@hi.is</a></div>
    <div class="contact-card-row"><i class="fa-brands fa-orcid"></i> <a href="https://orcid.org/0000-0002-2780-3546">0000-0002-2780-3546</a></div>
    <div class="contact-card-row"><i class="fa-brands fa-github"></i> <a href="https://github.com/tungufoss">tungufoss</a></div>
    <div class="contact-card-row"><i class="fa-solid fa-building-columns"></i> University of Iceland</div>
  </div>
</div>
