<div class="contact-card">
  <div class="contact-card-row">
    <i class="fa-solid fa-envelope fa-fw"></i>
    <a href="mailto:helgaingim@hi.is">helgaingim@hi.is</a>
  </div>
  <div class="contact-card-row">
    <i class="fa-solid fa-phone fa-fw"></i>
    <span>+354 525-4630</span>
  </div>
  <div class="contact-card-row">
    <i class="fa-solid fa-building-columns fa-fw"></i>
    <span>VR-II, University of Iceland</span>
  </div>
  <div class="contact-card-row">
    <i class="fa-brands fa-orcid fa-fw"></i>
    <a href="https://orcid.org/0000-0002-2780-3546" target="_blank">0000-0002-2780-3546</a>
  </div>
  <div class="contact-card-row">
    <i class="fa-brands fa-linkedin fa-fw"></i>
    <a href="https://linkedin.com/in/helgaingimundardottir" target="_blank">helgaingimundardottir</a>
  </div>
  <div class="contact-card-row">
    <i class="fa-brands fa-github fa-fw"></i>
    <a href="https://github.com/tungufoss" target="_blank">@tungufoss</a>
  </div>
</div>
